<h3>Author: <%= @author.name %></h3>
<p> Books: </p>
<ul>
<% @author.books.each do |book| %>
  <li><%= book.title %></li>
<% end %>
</ul>
<p> Average number of pages: <%= @author.average_pages %></p>
