<h3>Author: <%= @author.name %></h3>
<p> Books: </p>
<li>
<% @author.books.each do |book| %>
  <ul><%= book.title %></ul>
<% end %>
</li>
<p> Average number of pages: <%= @author.average_pages %></p>
